<div class="pagenav">
    <div class="bottomnav bottomnav-left">
        {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}">&laquo; {{.Title}}</a>
        {{ end }}
    </div>
    <div class="bottomnav bottomnav-right">
        {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}">&raquo; {{.Title }}</a>
        {{ end }}
    </div>
</div>
